{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <title>Home</title>
    <style>
        .image-container {
    width: 60%; /* Adjust the width of the container */
    height: 400px;
    margin: auto; /* Center the container horizontally */
}

.image-container img {
    width: 90%; /* Make the image fill the container */
    height: 100%; /* Make the image fill the container height */
    object-fit: cover; /* Ensure the image covers the entire container */
}
       
    </style>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                    <span class="toggle-password" onclick="togglePassword()">Show</span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn">Login In</button>
                </div>
            </form>
        </div>
        <div class="image-container">
            <img src='https://islington.edu.np/images/home/infrastructure-md.jpg' alt="Your Image">
        </div>
    </div>

    <script>
        function togglePassword() {
            var passwordField = document.getElementById("password");
            if (passwordField.type === "password") {
                passwordField.type = "text";
            } else {
                passwordField.type = "password";
            }
        }
    </script>
</body>
</html>
